@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans KR", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --header-height: 48px;
}

* {
  letter-spacing: -0.32px;
}
